.margin-img-profile-170{
 margin-top: 90px;
}

.media-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.cnt-full-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-profile-element {
    height: 79px;
    width: 79px;
  
}
.profile-element-subtitle-role {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
}
.profile-element-title{
    margin-top: 24px;
}

.profile-element-subtitle-role {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0px;
   
}

.cnt-element-subtitle-role{
    display: flex;
    align-items: center;
    
}

.sep-profile{
    
    width: calc(100% - 100px);
    bottom: 0px;
    left: 0px;
    border-bottom: 0.5px solid var(--g2);
    margin-top: 44px; 
}


/* classi per i "bottoni" della barra */


.tab-profile-off{
    height: 32px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

    background-color: transparent; 
    border:none;
    color: var( --blu_1);

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.tab-profile-on{
    height: 32px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

    background-color: var( --blu_1); 
    border-radius: 16px;
    border:none;
    color: var(--white);

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
}
