.sns-sp-718+.form-wks-select {
    margin-top: 40px;
}
.reset-sns-sp-416{
    margin-top: 12px;
}
.form-wks-select+.form-wks-select-button {
    margin-top: 12px;
    margin-right: 6px;
}
.enter-email {
    margin-top: 30px;
}
.form-wks-select-button {
    float: right;
}
.form-wks-select {
    margin-top: 30px;
}
.btn-primary{
    margin-top: 12px;
}