.chat-bar-send-btn {
    width: 44px;
    height: 44px;

    border-radius: 22px;
    background-color: var(--blu_1)
}

.cnt-single-chat {
    position: relative;
    top: 48px;
    width: 100%;
    height: calc(100% - var(--chat-bar-height) - 48px);
    padding: 0px 12px;

    flex-direction: column-reverse;

    flex: 1;
    overflow: auto;

}

.messages-cnt {
    flex-direction: column-reverse;
    min-height: 100%;
    display: flex;
    padding: 8px 0px;
}

#single-chat {
    height: 100%;
}

.message-sent {
    position: relative; /*per message-meta absolute*/
    max-width: calc(100% / 4 * 3);
    min-height: 36px;
    padding: 6px 8px 11.6px 8px;

    border-radius: 4px;
    flex-shrink: 0;
    background-color: var(--light_blu_1);

    align-self: flex-end;

}

.message-received {
    position: relative; /*per message-meta absolute*/
    max-width: calc(100% / 4 * 3);
    min-height: 36px;
    padding: 6px 8px 11.6px 8px;

    border-radius: 4px;
    flex-shrink: 0;

    align-self: flex-start;

}

.message-sent + .message-sent,
.message-received + .message-received {
    margin-bottom: 4px;
}

.message-sent + .message-received,
.message-received + .message-sent {
    margin-bottom: 8px;
}

.message-text::after {
    margin-right: 56px;
    content: "";
    display: inline;
}

.message-text {
    word-break: break-word;
}

.message-meta {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1px;
    position: absolute;
    bottom: 1px;
    right: 6px;
}

.message-time {
    position: relative;
    bottom: 4px;
    height: 12px;
    display: flex;
    align-self: flex-end;
    
}

.message-status {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.cnt-chat-bar{
    height: auto;
    width: 100%;
    min-height: 60px;
    position: absolute;
    bottom: 0px;
    padding: 8px 0px;
    
    display: flex;
    align-items: flex-end;

}

.chat-bar {
    width: calc(100% - 136px );
    height: auto;
    min-height: 44px;
    max-height: 129px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px 12px;           

    background-color: white; 
    border-radius: 22px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    word-break: break-word;

}

.chat-bar::-webkit-scrollbar { 
    display: none; 
}

.send {
    position: relative;
    left: 2px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
