.content-sb {
    justify-content: space-between;
}

.header {
    z-index: 500;
    position: absolute; /*Fa riferimento al relative del cnt-global*/
    width: 100%;
    height: 48px;
    padding: 0px 4px;

    display: flex;
    align-items: center;
    background-color: var(--blu_1);
}

.input-search{
    width:100%;
    max-width: 400px;
    margin-left: 43.5px;
    margin-right: 43.5px;
    color: var(--g1);
    border-top: 0px;
    border-bottom: 0.5px var(--white) solid;
    border-right: 0px;
    border-left:0px;
    background: none;
    outline: none; 

}

.header-cnt{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.profile-label{
    color: var(--white);
    margin-left: 12px;
}
