.chat-list-element, 
.contact-list-element,
.settings-list-element {
    position: relative;
    height: 80px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
}

.chat-list-element-content, 
.contact-list-element-content,
.settings-list-element-content {
    height: 100%;
    width: calc(100% - 44px);
    margin-left: 12px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.chat-list-element-content,
.group-list-element-content {
    width: 100%;
}

.chat-list-element-content-right,
.contact-list-element-content-right{
    display: flex;
    align-items: center;

}

.chat-list-sep, 
.contact-list-sep,
.settings-list-sep{
    position: absolute;
    width: calc(100% - 100px);
    bottom: 0px;
    left: 0px;
    margin-left: 76px;
    border-bottom: 0.5px solid var(--g2);

}

.chat-list-element-content-text,
.contact-list-element-content-text,
.settings-list-element-content-text {
    position: relative;
    min-width: 148px;
    width: calc(100vw - 168px);
    line-height: normal;
    
    /*display: flex;
    flex-direction: column;*/
}

.chat-list-element-title,
.contact-list-element-title {
    display: inline-block;
    margin-bottom: 3px;
    max-width: calc(100% - 20px);
    
}

.chat-list-element-title-name,
.contact-list-element-title-name,
.settings-list-element-title-name{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-list-element-subtitle,
.contact-list-element-subtitle-role {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-list-element-notification,
.contact-list-element-notification {
    height: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFC319;
}

.chat-list-element-content-right-container,
.contact-list-element-content-right-container{
    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.chat-list-element-content-mute,
.contact-list-element-content-mute {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 8px;

    display: inline-block;
    top: 0;
}

.chat-list-element-content-mute-icon,
.contact-list-element-content-mute-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-list-element-content-swipe {
    height: 80px;
    width: 100%;
    margin-left: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.chat-icn-box-swipe {
    width: 164px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
}

.react-swipe-container.swipe > div {
    display: flex
}

.contact-list-element-content-swipe {
    height: 80px;
    width: 100%;
    margin-left: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl

}

.contact-icn-box-swipe {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px
}
